body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #010103;
}
* {
    box-sizing: border-box;
}
#curtain {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-image: url(assets/1.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    transition: .2s linear;
}
#curtain.up {
    animation: 2s linear forwards curtain-up;
}

#curtain:hover {
    background-position: bottom calc(-0.1 * (100vh - 1080px)) center;
}

@keyframes curtain-up {
    50% {
        background-position: bottom 100vh center;
    }
    51%, 100% {
        display: none;
        visibility: hidden;
    }
}

#lamp {
    display: none;
    position: absolute;
    z-index: 4;
    top: 65px;

    width: 85px;
    height: 235px;
    left: 50%;
    transform: translateX(-50%);
}
#curtain.up + #lamp {
    display: block;
}

#lamp #polygon_3, #lamp #polygon_6{
    transition: .1s linear;
}

#lamp #polygon_3.switcher.do {
    height: 100px;
}
#lamp #polygon_6.switcher.do {
    cy: 180px;
}

.light {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    user-select: none;
    max-width: 800px;
    width: 100%;
    transition: .3s linear;

    position: absolute;
    top: 65px;
    bottom: 5vh;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    color: white;
}

.light-inner {
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: polygon(45% 49px, 55% 49px, 100% 100%, 0% 100%);
}

#lamp.on + .light {
    /* display: block; */
    visibility: visible;
    user-select: unset;
    opacity: 1;
}
#light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    clip-path: polygon(45% 49px, 55% 49px, 100% 100%, 0% 100%);
    opacity: .5;
    z-index: 10;
    pointer-events: none;
}

.magician {
    background-image: url(assets/2.jpg);
    width: 325px;
    aspect-ratio: 480 / 360;

    position: absolute;
    left: 17%;
    z-index: 2;
    background-size: contain;
    bottom: 0;
}

.magic-hat {
    width: 156px; /* 116px */
    height: 116px;

    position: absolute;
    right: 17%;
    z-index: 3;
    bottom: 20px;
}